
*{
    box-sizing: border-box;
}
body{
    background: #624ba7;
    margin: 0;
    height: 100vh;
    width: 100%;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
p, .m-0{
    margin: 0;
}
.p-0{
    padding: 0;
}
.fw-500{
    font-weight: 500;
}
.text-white{
    color: #fff;
}
img{
    vertical-align: middle;
}
.text-truncate{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icon-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 0px;
    outline: none;
    z-index: 1;
    cursor: pointer;
    background: transparent;
    color: #fff;
}
.icon-btn:hover{
    background: #ffffff4f;
}

/*  */

#app{
    background-color: #897dc1;
    width: 350px;
    overflow: hidden;
    border-radius: 10px;
    border: 4px solid #897dc1;
    box-shadow: 0px 20px 25px -5px #00000061;
    position: relative;
}

.upper{
    padding: 0;
    background-color: #897dc1;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#app.active .upper{
    padding: 10px 5px;
}

.profile-img{
    --size: 100px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.226);
    overflow: hidden;
    flex-shrink: 0;
    transition: all cubic-bezier(0.31, 0.33, 0.58, 1) 0.3s;
    z-index: 1;
    position: relative;
    transform: translate(-50%, 45%);
    left: 50%;
    top: 50%;
}

#app.active .profile-img{
    --size: 90px;
    transform: translate(0%, 0%);
    left: 0%;
    top: 0%;
    margin: auto;
}

.profile-img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: scale(1.2);
    object-fit: cover;
    object-position: center;
}


.details, .details-form{
    /* margin-top: 2rem; */
    padding: 1.5rem;
    color: #5f6a6a;
    /* text-align: center; */
    flex: 1 0 100%;
    background: #fff;
    border-radius: 6px;
}
.desc{
    color: #b7b2d3;
}
.contact li{
    text-align: left;
    padding-top: 1rem;
    /* text-indent: -15px;
    padding-left: 15px; */
    font-size: 16px;
}
.material-symbols-rounded{
    vertical-align: -8px;
    line-height: normal;
}
.contact span.material-symbols-rounded{
    padding-right: 1rem;
}


.form-group{
    position: relative;
}
.form-group label{
    position: absolute;
    top: 13px;
    left: 10px;
    pointer-events: none;
    font-size: 13px;
    background-color: #fff;
    padding-inline: 5px;
    transition: all linear 0.2s;
    color: #999;
}

.form-group input:focus + label, input:not(:placeholder-shown) + label {
    top: -3px;
    left: 8px;
    font-size: 11px;
}
.form-group > input{
    height: 35px;
    border-radius: 3px;
    margin-block: 5px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}
.form-group > input:focus{
    border-color: #333;
    outline: none;
}

.submit{
    padding-top: 10px;
    text-align: right;
}
.submit > .btn{
    border: 1px solid #bbb;
    background-color: #fff;
    padding: 8px 15px;
    margin-inline: 3px;
    cursor: pointer;
    border-radius: 3px;
}
.btn.btn-blue{
    background-color: #897dc1;
    border-color: #897dc1;
    color: #fff;
}

.flex-columns{
    display: flex;
    transform: translateX(-100%);
    transition: all cubic-bezier(0.31, 0.33, 0.58, 1) 0.3s;
}

#addaphoto{
    height: 100%;
    width: 100%;
    text-align: center;
    right: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    line-height: normal;
    font-size: 11px;
    padding: 0;
    flex-direction: column;
    background-color: #060d3d70;

    display: none;
}

#app.active .flex-columns{
    transform: translateX(0%);
}

#app.active #addaphoto{
    display: flex;
}
#app.active #edit{
    display: none;
}

ul{
    padding: 0;
    margin: 0;
}

.social-media{
    padding-top: 2rem;
}

.social-media li{
    display: inline-block;
}
.social-media li a{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    background-image: linear-gradient(45deg, #c6bfe4, #f4f3ff);
    border-radius: 100px;
    margin-right: 8px;
}
.social-media li img{
    filter: brightness(0.2);
}


.social-link{
    display: none;
}
#app.active .social-link{
    display: block;
    flex-grow: 1;
}

.social-link li{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 8px;
}

.social-link li input{
    border: 0;
    max-width: 100%;
    height: 32px;
    background: #ffffff2f;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    color: #fff;
    flex-grow: 1;
}
.social-link li input:focus{
    background: #ffffff6e;
}

#appendList{
    background-color: #fff;
    border-radius: 5px;
    width: 200px;
    overflow: hidden;
    min-height: 100px;
    max-height: 200px;
    overflow: auto;
    position: absolute;
    z-index: 2;
    color: #444;
    box-shadow: 0px 5px 15px 5px #00000036;
}

#appendList li > img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
    flex-shrink: 0;
    border-radius: 100px;
}
#appendList li{
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
}
#appendList li .text-truncate{
    flex-grow: 1;
}


#appendList li:hover{
    background-color: #eee;
}

.dropdown{
    position: relative;
}

.profile-dropdown{
    flex-grow: 1;
}

#dropdown_toggle{
    border: 0;
    margin-top: 5px;
    border-radius: 4px;
    padding: 0px 6px;
    white-space: nowrap;
    cursor: pointer;
}

#app:not(.active) #dropdown_toggle{
    display: none;
}

#appendList::after{
    content: 'Avatars not found';
    text-align: center;
    width: 100%;
    margin-top: 20%;
    clear: both;
    color: #999;
    display: none;
}

#appendList:empty::after{
    display: block;
}

.dltImg{
    border-radius: 5px;
    font-size: 22px;
    flex-shrink: 0;
    color: #df224c;
}

.dltImg:hover{
    background-color: #fdcdcd;
}

